
/* All kod i den här filen behandlar endast animationen */

#animationContainer{
	width: 0px;
	height: 0px;
	background-color: #000000; 	
	margin: 0 auto;
	box-shadow: 2px 2px 8px #888888;
}

#animationBody{
	background: url("images/animation/commons-copy_small.png");
	height: 100%;
	width: 0;
	margin: auto;
}

#animationCenterWrapper{
	position: relative;
	width: 70%;
	height: 100%;
	margin: 1px auto;
}

#animationCenterDiv{
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#animationLogo{
	height: 17%;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	color: #ffffff;
	padding-top: 3%;
	border-bottom: solid #181818 3px;
	overflow: hidden;
}

#animationLogotype{
	background: url("images/animation/tiny-logo.jpg");
	width: 243px;
	height: 66px;
	margin: -8px auto 0 auto;
}

#animationH3{
	font-size: 15px;
	text-align: center;
}

#animationH4{
	margin-top: 0; 
	margin-bottom: 1px;
	text-align: left;
	font-size: 12px;
}

#animationMenuContainer{
	position: absolute;
	top: 16%;
}

#animationMenuList{
	display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
	font-size: 8px;
}

#animationLi1{
	background-color: #181818;
	color: #d9d9d9;
}

#animationTextContainer{
	width: 33%;
	margin: 6% auto 8px auto;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
}

#animationSearchContainer{
	width: 40%;
	height: 18%;
	margin: 0 auto;
	text-align: center;	
}

#animationInputField{
	width: 100%;
	height: 12px;
	font-size: 9px;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	box-shadow:0px 1px 1px 1px #e5e5e5;
	font-family: Cambria, Cochin, Georgia, serif;
	text-indent: 16px;
	background: url("images/animation/magnify_small.png") no-repeat scroll 3px 4px;
	padding-top: 2px;
}

#animationSearchButton{
	color: #000000;
	border: 1px solid #B1BFC4;
	font-size: 8px;
	float: left;
	margin-left: 36%;
	margin-top: 3px;
	height: 12px;
}

#animationHelpIcon{
	height: 11px;
	width: 11px;
	background-color: #C2D4A1;
	border-radius: 50%;
	margin: 3.5px 0 0 6px;
	float: left;
	cursor: default;
	background: radial-gradient(circle at 4px 4px, #C2D4A1, #000000);
	padding: 1px 0 0 1px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 8px;
}

#animationMouse{
	position: absolute;
	height: 15px;
	width: 10px;
	background: url("images/animation/cursor.png") no-repeat scroll 0;
	top: 268px;
	left: 350px;
	z-index: 3;
}

#animationTopSearchBar{
	position: absolute;
	margin-bottom: 4px;
	right: 4px;
	min-width: 100px;
	top: 15%;
}

#animationTopSearchField{
	background-color: #FFFFFF;
	box-shadow:0px 1px 1px 1px #e5e5e5;
	font-family: Cambria, Cochin, Georgia, serif;
	padding: 1px;
	text-indent: 4px;
	font-size: 8px;
}

#animationTopMagnifyDiv{
	position: absolute;
	top: 10px;
	right: 6px;
}

#animationLegoBoxContainer{
	float: left;
	height: 27%;
	width: 33.2%;
}

#animationLegoBox{
	height: 100px;
	width: 100px;
	text-align: center;
	border: 1px solid #000000;
	margin: 20px auto;
	border-radius: 12px;
	box-shadow: 3px 5px 0 #888888;
	font-size: 8px;
	font-weight: 100;
	background-color: #FFFFFF;
}

#animationSinglePageTable{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border-collapse: separate;
	border: 1px solid black;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#singlePageImg{
	display: block;
	margin: 0 auto;
}

.animationMenu{
	background-color: #d9d9d9;
	color: #262626;
	padding: 4px 4px;
    display: block;
	margin-left:2px;
    border-top-left-radius: 6px;
  	border-top-right-radius: 6px;
  	text-align: center;
  	text-decoration: none;
}

.animationSinglePageText{
	font-size: 10px;
	text-align: center;
	padding: 0;
}

table{
	border: 1px solid #888888;
}

td, th{
	border: 1px solid #888888;
}
