
/* ------------------------------------------- Samtliga filer --------------------------------------------- */

body{
	background: url("images/commons-copy.jpg");
	background-color: #cccccc;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Myriad Pro;
	font-size:16px;
	color:#262626;
}

/* Desgin av knappar på Help-sida och sökresultatssida */
.pageButton{
	background-color: rgba(209, 23, 23, 0.8);
	color: white;
	height: 38px;
	width: 125px;
	border-radius: 10px;
	border: solid 2px #eee;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	cursor: pointer;
}

/* Design av knappar på Help-sida och sökresultatssida då musen hålls över knappen */
.pageButton:hover{
	background-color: #ff3434;
}

/* Ändra färg på knapp som inte går att klicka på */
.pageButton:disabled{
	background-color: #959EA1;
	cursor: default;
}

/* Div för att centrera innehåll på sidan */
.centerWrapper{
	position: relative;
	width: 70vw;
	margin: 0 auto;
}

/* Div som innehåller mitten på hemsidan, d.v.s. själva innehållet */
.centerDiv{
	background-color: rgba(255,255,255,0.8);
	border-left: 5px solid #262626;
	border-right: 5px solid #262626;
	
	/* Täck hela sidan */
	position: fixed;
	width: 70vw;
	height: 100%;
	min-height: 250px;
	
	/*Scroll*/
	overflow: auto;
}

/* Högst upp på sidan, innehåller rubrik och meny */
.logo{
	height: 15vh;
	min-height: 120px;
	width: 100%;
	min-width: 284px;
	padding-top:1vw;
	background-color: rgba(255,255,255,1);
	text-align: center;
	color: #ffffff;
	border-bottom: solid #262626 5px;
	position: relative;
}

/* Div för att kunna centrera logotypen */
#imgLogo{
	margin: 0 auto;
	height: 75%;
}

/* Logotypen, anpassningsbar efter skärmstorlek */
#imgLogotyp{
	height: 18vw;
	width: 55vw;
	max-width: 466px;
	max-height: 120px;
	min-width: 204px;
	min-height: 72px;
	
}

/* Div som innehåller menyn, bestämmer placering och storlek */
.menuContainer{
	position: absolute;
	bottom: 0;
	min-width: 208px;
}

/*Meny i form av lista*/
ul {
	display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
	bottom: 0;
}

li a {
    background-color: #d9d9d9;
	color: #262626;
    height: 16px;
    padding: 10px 10px;
    display: block;
    margin-left:3px;
    border-top-left-radius: 6px;
  	border-top-right-radius: 6px;
  	text-align: center;
  	text-decoration: none;
}

/* Ändrar färg på den flik i menyn som musen hålls över */
li a:hover{
	background-color:#ffff8c;
	color: #262626;
}

/* Ändrar färger på den flik som är aktiv */
.active{
	background-color: #262626;
	color: #d9d9d9;
}


/* ------------------------------------------- Startsida, sökmotorn --------------------------------------------- */

/* Div med välkomsttext */
.textContainer{
	width: 30vw;
	margin: 15vh auto 1vh auto;
	text-align: center;
}

/* Centrerar sökruta, sökknapp och hjälpikon */
.searchContainer{
	position: relative;
	width: 39%;
	min-width: 340px;
	text-align: center;
	margin: 0 auto;
}

/* Sökfält */
.searchBox{
	position: relative;
	width: 25vw;
	height: 3vh;
	min-width: 340px;
	min-height: 30px;
	margin: 0 auto;
	font-size: 20px;
	font-family: Myriad Pro;
	z-index: 1;
	box-shadow:0px 1px 1px 1px #e5e5e5;
	text-indent: 32px;
	padding: 1px;
	background: url("images/magnify.gif") no-repeat scroll 3px 50%;
}

/* Sökknapp */
.searchButton{
	background-color: #677980;
	height: 27px;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	color:#FFFFFF;
	font-family: Myriad Pro;
	font-size: 18px;
	float: left;
	margin-left: 40%;
	margin-top: 6px;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.searchButton:hover{
	background-color: #88999E;
	cursor: pointer;
}

/* Hjälpikon vilken man håller över för att få snabbhjälp */
.helpIcon{
	height: 21px;
	width: 21px;
	background-color: #d11717;
	color:#FFFFFF;
	border-radius: 10px;
	border: 2px solid #FFFFFF;
	margin: 6px 0 0 12px;
	float: left;
	cursor: help;
	z-index: 1; /*sätter elementet framför resp. bakom med js*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	padding: 2px 0 0 0;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 900;
}

/* Div i vilken hjälprutan visas */
#helpContainer{
	width: 180px;
	height: 192px;
	opacity: 0;
	margin: 52px 0 0 40%;
}

/* För att inte visa båda textfälten samtidigt */
#largePlaceHolder{
	display: inline-block;
}

#smallPlaceHolder{
	display: none;
}


/* Hjälpbubbla vid sökfältet */
.speechBubble{
	position: relative;
	width: 160px;
	background-color: #FFFFFF;
	padding: 8px 12px;
	top: 38px;
	margin-left: 52px;
	border-radius: 24px;
	border: 2px solid #262626;
}

/* "Trekant" till pratbubbla, svart */
.speechBubble:before{
	content: ' ';
	position: absolute;
	left: 38px;
	border: 28px solid;
	border-color: transparent transparent #000000 #000000;
}

/* "Trekant" till pratbubbla, vit */
.speechBubble:after{
	content: ' ';
	position: absolute;
	left: 40px;
	border: 28px solid;
	border-color: transparent transparent #FFFFFF #FFFFFF;
}

#emptySearchWarning{
	padding: 8px;
    width: 17vw;
    height: 40px;
	min-width: 226px;
    border: 1px solid #000000;
    background-color: #ffff8c;
    font-size: 16px;
    opacity: 0;
    border-radius: 4px;
    margin: -190px auto 0 auto;
}


/* ------------------------------ Design för alla sidor förutom Start ------------------------------ */

h2{
	font-size: 32px;
	font-weight: 500;
}

.infoText{
	font-size: 24px;
}

/* Sökfält i menyraden */
.topSearchBar{
	position: absolute;
	bottom: 4px;
	right: 4px;
	min-width: 208px;
}

.topSearchBox{
	height: 20px;
	box-shadow:0px 1px 1px 1px #e5e5e5;
	font-family: Cambria, Cochin, Georgia, serif;
	padding: 2px;
	text-indent: 4px;
}

#searchIcon{
	position: absolute;
	display: block;
	right: 20px;
	bottom: 4px;
	width: 20px;
	height: 18px;
}

/* Innehåller textdesign för Error-, Help- och Aboutsidorna */
.errorContainer{
	width: 44%;
	min-height: 320px;
	font-size:30px;
	margin: 15vh auto 1vh auto;
}


/* --------------------------------------------- Errorsida --------------------------------------------- */

/* Stylear lista */
.dottedList{
	list-style-type: circle;
}

/* Innehåller och stylear rubrik */
.headerContainer{
	background-color: #ffff8c;
	padding: 1px;
	text-align: center;
	border-radius: 4px;
}



/* --------------------------------------------- Sökresultat --------------------------------------------- */

/* div för varje legobit i sökresultatet */
.legoBoxContainer{
	float: left;
	height: 27%;
	width: 33.2%; /*33.2*/
	min-height: 268px;
	min-width: 268px;
}

/* Div för rutan med ett av resultaten */
.legoBox{
	height: 11vw;
	width: 11vw;
	min-height: 180px;
	min-width: 180px;
	text-align: center;
	border: 2px solid #3e5b54;
	margin: 4vw auto;
	border-radius: 12px;
	box-shadow: 3px 5px 0 #888888;
	cursor: pointer;
	background-color: #FFFFFF;
}

/* Förstorar resultatrutan */
.legoBox:hover{
	transform: scale(1.5);
}

.searchResultContainer{
	//height: 100%;
}

/* Div med previous och next knappar */
.buttonDiv{
	margin: 8vw auto 6vh 60%;
}



/* --------------------------------------------- Ett resultat --------------------------------------------- */

/* Div över ett resultat*/
.singleContent{
	width: 50%;
	position: relative;
	margin: 10vw auto;
	text-align: center;
	margin-top:2vw;
}

/* Tabell med info om valds resultatet*/
#setTable{
	margin-top: 5vw;
	width: 100%;
	border-collapse: separate;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 6px;
}

h3{
	margin-top:0;
	margin-bottom:1px;
	text-align:left;
	font-size:18px;
}

td{
	width: 100%;
	padding: 0.8vw;
	border: 2px solid #FFFFFF;
}


/* ------------------------------------------------- Help / about ------------------------------------------------- */

/* Varningsfönster om användaren har förlitet fönster */
#windowTooSmallWarning{
	padding: 4px;
	width: 25vw;
	border: 1px solid #000000;
	background-color: #ffff8c;
	font-size: 12px;
	margin-left: 146px;
	opacity: 0;
	margin-top: -37px;
	border-radius: 4px;
}

#animationButtonContainer{
	padding-top: 12px;
	height: 200px;
	width: 124px;
	margin: 0 auto;
}


/* -------------------------------------------------- @media ---------------------------------------------------- */
/* ------------------------------------- Anpassar sidan för mobila enheter ------------------------------------- */

/* ------------------------------------------------- Huvudsida ------------------------------------------------- */


/* Ändrar position för sökfält och pratbubblan för mobilenhet*/
@media screen and (min-width: 400px) and (min-height: 545px){
	.speechBubble:before{
	top: -57px;
	}
	.speechBubble:after{
		top: -52px;
	}
}

@media screen and (max-width: 400px){
	.searchContainer{
		width: 60%;
		min-width: 160px;	
	}
	
	.searchBox{
		min-width: 100%;
	}
	
	.searchButton{
		margin-left: 25%;
	}
	
	.speechBubble{
		margin-left: 25%;
	}
	
	.speechBubble:before{
		left: 35px;
		top: -57px;
		border-color: transparent #000000 #000000 transparent;
	}
	.speechBubble:after{
		left: 33px;
		top: -52px;
		border-color: transparent #FFFFFF #FFFFFF transparent;
	}
	
	.legoBox:hover{
		transform: scale(1.1);
	}
	
	#helpContainer{
		margin-left: 0;
		width: 100%;
	}
	
	#largePlaceHolder{
		display: none;
	}

	#smallPlaceHolder{
		display: inline-block;
	}
}

@media screen and (max-height: 545px){
	.logo{
		min-height: 80px;
		padding-top: 4px;
		margin-bottom: 4px;
	}
	
	.menuContainer{
		top: 89px;
	}
	
	li a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-right: 1px solid #000000;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		padding: 9.5px 8px;
		background-color: transparent;
	}
	
	.speechBubble:before{
		bottom: -56px;
		border-color: #000000 transparent transparent #000000;
	}
	.speechBubble:after{
		bottom: -52px;
		border-color: #FFFFFF transparent transparent #FFFFFF;
	}
	
	#helpContainer{
		margin-top: -216px;
	}
	
	#imgLogotyp{
		height: 76px;
		width: 300px;
	}
	
	h2{
		font-size: 24px;
		margin-top: 40px;
	}
	.infoText{
		font-size: 16px;
	}
	
	#emptySearchWarning{
		margin: 74px auto 0 auto;
	}
}

@media screen and (max-height: 545px) and (max-width: 900px){
	.topSearchBar{
		position: fixed;
		bottom: 0px;
		background-color: #ffff8c;
		height: 36px;
		right: 12px;
		left: 16px;
		border-radius: 4px;
	}
	
	.topSearchBox{
		right: 18px;
		position: absolute;
		margin-top: 3px;
	}
	
	#searchIcon{
		z-index: 1;
		bottom: 8px;
		right: 25px;
	}
}


@media screen and (max-height: 545px) and (max-width: 400px){
	.speechBubble{
		margin-left: 0;
	}
	
	.speechBubble:before{
		top: 126px;
		bottom: -30px;
		left: 85px;		
		border-color: #000000 transparent transparent #000000;
	}
	.speechBubble:after{
		top: 121px;
		bottom: 0;
		left: 87px;
		border-color: #FFFFFF transparent transparent #FFFFFF;
	}
	
	#helpContainer{
		margin-left: 26%;
		width: 180px;
	}
	
	#animationButtonContainer{
		width: 65%;
		min-width: 185px;
	}
}

/* --------------------------------------------- Alla utom första --------------------------------------------- */

/* Ändrar position för sökfält i menyraden för mobilenhet*/
@media screen and (max-width: 425px){
	.topSearchBar{
		position: fixed;
		bottom: 0px;
		background-color: #ffff8c;
		height: 36px;
		right: 12px;
		left: 16px;
		border-radius: 4px;
	}
	
	.topSearchBox{
		right: 18px;
		position: absolute;
		margin-top: 3px;
	}
	
	#searchIcon{
		z-index: 1;
		bottom: 8px;
		right: 25px;
	}
}

/* ------------------------------------ Sökresultat, Help, Error och About ------------------------------------ */

/* Ändrar storlek och position för resultaten för mobilenhet*/
@media screen and (max-width: 1320px){
	.centerWrapper{
		width: 900px;
	}
	.centerDiv{
		width: 900px;
	}
}

@media screen and (max-width: 900px){
	.legoBox{
		margin: 36px auto;
	}
	.centerWrapper{
		width: 100vw;
	}
	.centerDiv{
		width: 100vw;
	}
}

@media screen and (max-width: 820px){
	.legoBoxContainer{
		width: 50%;
	}
}

@media screen and (max-width: 550px){
	.legoBoxContainer{
		width: 100%;
	}
	.errorContainer{
		width: 65%;
		min-width: 185px;
	}
	h2{
		font-size: 20px;
	}
	.infoText{
		font-size: 16px;
	}
	
	#animationButtonContainer{
		width: 65%;
		min-width: 185px;
	}
}

@media screen and (max-height: 500px){
	.legoBox:hover{
		transform: scale(1.1);
	}
}

@media screen and (max-width: 290px){
	.topSearchBar{
		bottom: 16px;
	}
}

@media screen and (max-width: 850px) and (max-height:850px){
	#imgLogotyp{
		height: 76px;
		width: 300px;
	}
	
}

@media screen and (max-width: 700px){
	.buttonDiv{
		width: 254px;
		margin: 8vw auto 16vh auto;
	}
}